.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar{
  grid-row: 1/-1;
  grid-column: 1/2;
  display: grid;
  row-gap: 4rem;
  background-color: #1992d4;
}

.sidebar div{
  color: white;
}

.dashboard-icon{
  width: 4rem;
  height: 4rem;
}

.icon{
  width: 2rem;
  height: 2rem;
}

.top-sidebar > div,
.middle-sidebar > div,
.bottom-sidebar > div{
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}

.top-sidebar div > :first-child,
.middle-sidebar div > :first-child,
.bottom-sidebar div > :first-child{
  justify-self: center;
}

.headbar{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}