html{
  font-size: 62.5%;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 30rem 3fr;
  grid-template-rows: 1fr 4fr;
  min-height: 100vh;
}

.sidebar{
  display: grid;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding-left: 24px;
  row-gap: 5rem;
  grid-template-rows: .1fr 1fr .5fr 1fr;
  background-color: #1992d4;
}

.sidebar div{
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

h1{
  font-size: 2.4rem;
}

.dashboard-icon{
  width: 6.4rem;
  height: 6.4rem;
}

.icon{
  width: 3.2rem;
  height: 3.2rem;
}

.middle-sidebar,
.bottom-sidebar{
  display: grid;
  row-gap: 1rem;
}

.top-sidebar > div,
.middle-sidebar > div,
.bottom-sidebar > div{
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  column-gap: 1rem;
}

.top-sidebar div > :first-child,
.middle-sidebar div > :first-child,
.bottom-sidebar div > :first-child{
  justify-self: center;
}

.headbar{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: .3fr .7fr;
}

.top-headbar{
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-bar{
  display: grid;
  grid-template-columns: 10rem 90rem;
  align-items: center;
  column-gap: 2rem;
}

.search-bar > :first-child{
  justify-self: end;
}

input[type='search']{
  width: 90rem;
  height: 3rem;
  border-radius: 24px;
  border: none;
  background-color: rgba(223, 228, 233, 0.829);
  padding-left: 16px;
}

.top-headbar .right-headbar{
  display: grid;
  justify-self: center;

  align-items: center;
  justify-items: start;
  grid-template-columns: 7rem 10rem 10rem;
}

.bottom-headbar{
 grid-row: 2 / 3;
}
.profile-headbar{
  height: 6.4rem;
  width: 6.4rem;
}

.name-headbar{
  font-size: 1.5rem;
  font-weight: bold;

}