.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar{
  grid-row: 1/-1;
  grid-column: 1/2;
  display: grid;
  row-gap: 4rem;
}

.dashboard-icon{
  width: 4rem;
  height: 4rem;
}

.icon{
  width: 2rem;
  height: 2rem;
}